/* Komment */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 119, 10);
}

/* 
    Ez az "alap" class, a lényege az, hogy   
    a háttérbe több képet lehessen rakni
*/
.alap {
    position: absolute;
    width: 100%;
    height: 100%;
}

#background {
    display: flex;
    height: calc(100% + 10px);
    flex-direction: column;
}

.bg_levelek {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 4px);
}